OPENAI_API_KEY= 
GEMINI_API_KEY=
GOOGLE_MAPS_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SECRET_KEY=your-secret-key
DATABASE_URL=postgresql://flyplay:flyplay@postgres:5432/flyplay
GOOGLE_APPLICATION_CREDENTIALS=
DEBUG=true
