Flask==2.3.3
flask-cors==4.0.0

requests==2.31.0

python-dotenv==1.0.0

Werkzeug==2.3.7

itsdangerous >= 2.1
Authlib >= 1.2

openai >= 0.27.0
psycopg2-binary==2.9.9
google-generativeai>=0.8.5
nest-asyncio>=1.6.0